{% for n in range(1, (bareos_max_concurrent_jobs + 1)) %}Device {
  Name = FileStorage{{ n }}
  Media Type = {{ bareos.storage.bareos_archive_type }}
  Archive Device = {{ bareos.storage.bareos_archive_device }}
  LabelMedia = {{ bareos_storage_label_media }};                   # lets Bareos label unlabeled media
  Random Access = {{ bareos_storage_random_access }};
  AutomaticMount = {{ bareos_storage_automatic_mount }};               # when device opened, read it
  RemovableMedia = {{ bareos_storage_removable_media }};
  AlwaysOpen = {{ bareos_storage_always_open }};
  Description = "File device {{ ansible_host }}. A connecting Director must have the same Name and MediaType."
  Maximum Concurrent Jobs = 1

}

{% endfor %}
