{% for n in range(1, (bareos_max_concurrent_jobs + 1)) %}Device {
  Name = FileStorage{{ n }}
  Media Type = {{ bareos.storage.bareos.storage.bareos_archive_type }}
  Archive Device = {{ bareos.storage.bareos_archive_device }}
  LabelMedia = yes;                   # lets Bareos label unlabeled media
  Random Access = yes;
  AutomaticMount = yes;               # when device opened, read it
  RemovableMedia = no;
  AlwaysOpen = no;
  Description = "File device. A connecting Director must have the same Name and MediaType."
  Maximum Concurrent Jobs = 1

}

{% endfor %}
